.table-view {
    -fx-font-size: 14px;
    -fx-background-color: #f0f0f0;
}

.table-view .column-header-background {
    -fx-background-color: #dddddd;
}

.table-view .column-header, .table-view .filler {
    -fx-padding: 5px;
    -fx-alignment: center-left;
    -fx-background-color: #dddddd;
}

.table-view .table-row-cell {
    -fx-background-color: #ffffff;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #87cefa;
}

.table-view .table-cell {
    -fx-alignment: center-left;
    -fx-padding: 5px;
}